:host {
  display: block;
  padding: 30px;
  background: #f8fafc; /* Un gris muy sutil, casi blanco, estilo Tailwind slate-50 */
  min-height: 100vh;
}

/* Modificamos el estilo base de Mat-Card para que sea Premium */
::ng-deep .premium-card {
  border-radius: 24px !important;
  border: none !important;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.08) !important;
  background: white;
  padding: 24px;

  /* Quitamos el padding por defecto de material en el content para mayor control */
  .mat-mdc-card-content {
    padding: 0;
  }
}

/* Ocultamos los bordes de la tabla para un look más limpio */
::ng-deep .mat-mdc-table {
  background: transparent !important;

  .mat-mdc-header-cell {
    border-bottom: 1px solid #f1f5f9;
  }

  .mat-mdc-cell {
    border-bottom: 1px solid #f1f5f9;
  }

  .mat-mdc-row:last-child .mat-mdc-cell {
    border-bottom: none;
  }
}
